.select-items {
	position:fixed;
	bottom: 0px;
	width:100%;
}
.select-items > div {
	width: 100%;
	text-align: center;
}
.item {
	border: solid transparent 2px;
	display: inline-block;
	border-radius: 6px;
}
.item.selected {
	border-color: #fff;
}
.item.hover:not(.selected) {
	border-color: #fff;
}
.item div {
	margin: 2px;
	border-radius: 4px;
	padding: 20px;
	cursor: pointer;
	background-size: 40px 40px;
}
.solid {
	background-image: url("../assets/solid.png");
}
.destructible {
	background-image: url("../assets/destructible.png");
}
.man-only {
	background-image: url("../assets/manOnly.png");
}
.missile-only {
	background-image: url("../assets/missileOnly.png");
}
.target {
	background-image: url("../assets/target.png");
}